{% extends "@octavia/block/block--system-branding-block.html.twig" %}
{% block content %}
  {% if site_logo %}
    <figure class="image is-pulled-left">
      <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">
        <img src="{{ site_logo }}" alt="{{ 'Home'|t }}"/>
      </a>
    </figure>
  {% endif %}
  {% if site_name %}
    <a class="title is-size-3-desktop is-size-4-touch has-text-white" href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">{{ site_name }}</a>
  {% endif %}
{% endblock content %}

