{#
/**
 * @file
 * Template for the main page.
 */
#}
<div class="wrapper">
  <header class="main-header">
    {% if page.navbar_branding %}
      {{ page.navbar_branding }}
    {% endif %}
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">{{ 'Toggle navigation'|t }}</span>
      </a>
      {% if page.navbar_right %}
        <div class="navbar-custom-menu">
          {{ page.navbar_right }}
        </div>
      {% endif %}
    </nav>
  </header>

  {% if page.sidebar_first %}
    <aside class="main-sidebar">
      <section class="sidebar">
        {{ page.sidebar_first }}
      </section>
    </aside>
  {% endif %}

  <div class="content-wrapper">
    {% if page.header %}
      <section class="content-header">
        {{ page.header }}
      </section>
    {% endif %}

    <section class="content">
      {% if page.highlighted %}
        <div class="highlighted">{{ page.highlighted }}</div>
      {% endif %}

      {{ page.help }}

      <a id="main-content"></a>
      {{ page.content }}
    </section>
  </div>

  {% if page.footer %}
    <footer role="footer">
      <div class="container">
        {{ page.footer }}
      </div>
    </footer>
  {% endif %}

  {% if page.sidebar_second %}
    <aside class="control-sidebar control-sidebar-dark">
      {{ page.sidebar_second }}
    </aside>
  {% endif %}
  <div class="control-sidebar-bg"></div>
</div>

